{% extends "../base/base.html" %}
{% load thumbnail %}

{% block content %}

<div class="card">
    {% include './includes/carousel.html' with post=post%}
    <div class="card-body">
        <h5 class="card-title">{{ post.pet.name }}</h5>
        <p class="card-text">{{ post.text }}</p>
        <p class="card-text"><a href="#">@{{ post.author.username }}</a></p>
        <p class="card-text"><small class="text-muted"> Пост сообщества: </small><small><a href="#">{{ post.group }}</a></small></p>
        <p class="card-text"><small class="text-muted"> Добавлено: {{ post.pub_date }}</small></p>
    </div>
    {% if post.author == user %}
        <a href="{% url 'post_update' post.slug %}"><button type="button" class="btn btn-success" >Редактировать</button></a>
    {% endif %}
</div>

{% include './includes/comments.html' with comment=comments_form%}

{% endblock %}