{% extends "../base/base.html" %}
{% load bootstrap_pagination %}

{% block title %} Последние обновления {% endblock %}

{% block content %}
    <div class="container">


        <h1> Мои питомцы </h1>
        <!-- Вывод ленты записей -->

        <div class="card-group">
            {% for pet in my_pets %}
                {% include './includes/pet_card.html' with pet=pet%}
            {% endfor %}
        </div>

    </div>

    <div class="row">
        <div class="col-md-12" >
            {% bootstrap_paginate page_obj range=7 show_prev_next="false" show_first_last="true" %}
        </div>
    </div>

{% endblock %}