{% extends "../base/base.html" %}
{% load thumbnail %}

{% block content %}

<div class="card">
    {% include './includes/carousel.html' with pet=pet%}
    <div class="card-body">
        <h5 class="card-title">{{ pet.name }}</h5>
        <p class="card-text"><a href="{% url 'profile_view' pet.master.username %}">@{{ pet.master.username }}</a></p>
        <p class="card-text">Порода: {{ pet.breed }}</p>
        <p class="card-text">Возраст: {{ pet.age }}</p>
        <p class="card-text">Вес: {{ pet.weight }}</p>
        {% if pet.description %}<p class="card-text">Описание</p> {% endif %}
        <p class="card-text">{{ pet.description }}</p>
        <p class="card-text"><small class="text-muted"> Добавлено: {{ pet.date_adding }}</small></p>
    </div>
    {% if pet.master == user %}
        <a href="{% url 'pet_update' pet.slug %}"><button type="button" class="btn btn-success" >Редактировать</button></a>
    {% endif %}
</div>

{% endblock %}
