{% extends "../base/base.html" %}
{% load thumbnail %}

{% block content %}

<div class="card">
    {% include './includes/carousel.html' with pet=pet%}
    <div class="card-body">
        <h5 class="card-title">{{ pet.name }}</h5>
        <p class="card-text"><a href="#">@{{ pet.master.username }}</a></p>
        <p class="card-text">Порода: {{ pet.breed }}</p>
        <p class="card-text">Возраст: {{ pet.age }}</p>
        <p class="card-text">Вес: {{ pet.weight }}</p>
        {% if pet.description %}<p class="card-text">Описание</p> {% endif %}
        <p class="card-text">{{ pet.description }}</p>
        <p class="card-text"><small class="text-muted"> Добавлено: {{ pet.date_adding }}</small></p>
    </div>
    <button type="submit" class="btn btn-success" >Добавить питомца</button>
</div>

{% endblock %}
