{% load user_filters %}
{% load thumbnail %}

<div class="card">

    {% thumbnail post.pet.images.last.image '960x500' crop='center' as im %}
        <img class="card-img-top" src="{{ im.url }}" alt="Card image cap"/>
    {% endthumbnail %}

    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.pet.name }}</p>
        <p class="card-text">{{ post.pet.breed }}</p>
        <p class="card-text">{{ post.text }}</p>
        {% if post.group %}<p class="card-text">{{ post.group }}</p>{% endif %}
        <p class="card-text"><small class="text-muted"> Добавлено: {{ post.pub_date }}</small></p>
    </div>
</div>
