{% extends '../base/base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}Изменить пароль{% endblock %}

{% block content %}
  <div class="main-container">
    <h1 class="main">Изменить пароль</h1>
  </div>
  <div class="form-container">
    <form class="form" method="post">
      {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="mb-3">{{ field.label }}</label>
                    <div class="mb-3">
                        <input type="{{ field.widget_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
                        {% for error in field.errors %}
                            <span class="row-form-errors">{{ error|escape }}</span>
                        {% endfor %}

                        {% if field.help_text %}
                            <span class="form-row">{{ field.help_text|safe }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

      <div class="mb-3">
        <button class="btn btn-success">Изменить пароль</button>
      </div>
    </form>
  </div>
{% endblock %}