{% extends '../base/base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <div class="main-container">
    <h1 class="main">Сброс пароля</h1>
  </div>
  <div class="form-control">
    <form class="form" method="post">
      <p class="info">
        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
      </p>
      {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="mb-3">
                        <input type="{{ field.widget_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form__input">
                        {% for error in field.errors %}
                            <span class="row-form-errors">{{ error|escape }}</span>
                        {% endfor %}

                        {% if field.help_text %}
                            <span class="help">{{ field.help_text|safe }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

      <div class="mb-3">
        <button class="btn btn-success">Сбросить пароль</button>
      </div>

    </form>
  </div>
{% endblock %}